* {
    outline: none;
    overflow: hidden !important;    

  }
:root {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    overflow: hidden !important;    

}
body {
    -ms-overflow-style: none; /* cho  Internet Explorer, Edge */
    scrollbar-width: none; /* cho Firefox */
    overflow-y: scroll; 
  }
  
  body::-webkit-scrollbar {
    display: none; /* cho Chrome, Safari, and Opera */
  }
